<%- include("D:/Web3 projects/dShare/views/partials/head.ejs") %>
<%- include("D:/Web3 projects/dShare/views/partials/header.ejs") %>


<div style="width: 50%; height: 20%; margin-top: 200px" class="frame">
      <br />
      <h4>Enter CID</h4>
      <hr />
      <input
        type="email"
        style="width: 80%; margin-left: 50px"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Qmc4xcwQH17spXqh5prJAY..........q83"
      />
      <button
        id="import"
        style="margin-top: 10px; margin-bottom: 10px"
        class="btn btn-secondary"
      >
        Get File
      </button>
    </div>

    <%- include("D:/Web3 projects/dShare/views/partials/footer.ejs") %>
